<a href="https://colab.research.google.com/github/medinabopp/DSWP/blob/master/exerciciosPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercício 1
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as COLUNAS state, abbreviation, area, ages, year, population.

https://raw.githubusercontent.com/medinabopp/DSWP/master/Dataframes/USA_Abbrev.csv

https://raw.githubusercontent.com/medinabopp/DSWP/master/Dataframes/USA_Area.csv

https://raw.githubusercontent.com/medinabopp/DSWP/master/Dataframes/USA_Population.csv

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/medinabopp/DSWP/master/Dataframes/USA_Abbrev.csv'
#df_USA_Abbrev = pd.read_csv(url, index_col = 'PassengerId')
df_USA_Abbrev = pd.read_csv(url)
df_USA_Abbrev.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [31]:
df_USA_Abbrev.columns = ['estado', 'abbreviation']
df_USA_Abbrev.head()

       estado abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [36]:
# df[df.duplicated(subset=['A','B'])]
df_USA_Abbrev[df_USA_Abbrev.duplicated(subset=['estado','abbreviation'])]

Empty DataFrame
Columns: [estado, abbreviation]
Index: []

In [37]:
url = 'https://raw.githubusercontent.com/medinabopp/DSWP/master/Dataframes/USA_Area.csv'
#df_USA_Abbrev = pd.read_csv(url, index_col = 'PassengerId')
df_USA_Area = pd.read_csv(url)
df_USA_Area.head()

        state    area
0     Alabama   52423
1      Alaska  656425
2     Arizona  114006
3    Arkansas   53182
4  California  163707

In [10]:
df_USA_Area[df_USA_Area.duplicated(subset=['state','area'])]

Empty DataFrame
Columns: [state, area]
Index: []

In [38]:
df_USA_Abbrev_Area = pd.merge(df_USA_Abbrev, df_USA_Area, left_on = 'estado', right_on = 'state', how = 'outer', indicator = True,suffixes=('_x','_y'))
df_USA_Abbrev_Area.head()

       estado abbreviation       state    area _merge
0     Alabama           AL     Alabama   52423   both
1      Alaska           AK      Alaska  656425   both
2     Arizona           AZ     Arizona  114006   both
3    Arkansas           AR    Arkansas   53182   both
4  California           CA  California  163707   both

In [40]:
df_USA_Abbrev_Area[df_USA_Abbrev_Area.duplicated(subset=['estado','abbreviation'])]

Empty DataFrame
Columns: [estado, abbreviation, state, area, _merge]
Index: []

In [41]:
#exibe as linhas que não tem correspondência
df_USA_Abbrev_Area[df_USA_Abbrev_Area['_merge'] != 'both']

   estado abbreviation        state  area      _merge
51    NaN          NaN  Puerto Rico  3515  right_only

In [42]:
url = 'https://raw.githubusercontent.com/medinabopp/DSWP/master/Dataframes/USA_Population.csv'
#df_USA_Abbrev = pd.read_csv(url, index_col = 'PassengerId')
df_USA_Population = pd.read_csv(url)
df_USA_Population.head()

  state_region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [43]:
df_USA_Population.columns

Index(['state_region', 'ages', 'year', 'population'], dtype='object')

In [44]:
df_USA_Abbrev.columns

Index(['estado', 'abbreviation'], dtype='object')

In [55]:
# left_on='id', right_on='id'
df_USA_Pop_Abbrev = pd.merge(df_USA_Population, df_USA_Abbrev, left_on='state_region', right_on='abbreviation', how = 'outer', indicator = True)

df_USA_Pop_Abbrev.head()

  state_region     ages  year  population   estado abbreviation _merge
0           AL  under18  2012   1117489.0  Alabama           AL   both
1           AL    total  2012   4817528.0  Alabama           AL   both
2           AL  under18  2010   1130966.0  Alabama           AL   both
3           AL    total  2010   4785570.0  Alabama           AL   both
4           AL  under18  2011   1125763.0  Alabama           AL   both

In [51]:
df_USA_Area.head()

        state    area
0     Alabama   52423
1      Alaska  656425
2     Arizona  114006
3    Arkansas   53182
4  California  163707

 contendo as COLUNAS 
  df_USA_Population.state, 
  df_USA_Abbrev.abbreviation, 
  df_USA_Area.area, 
  df_USAPopulation.ages, year, population.

In [57]:
df_USA_Pop_Abbrev_Area = pd.merge(df_USA_Pop_Abbrev, df_USA_Area, left_on='estado', right_on='state', how = 'outer') #, indicator = True)

df_USA_Pop_Abbrev_Area.head()

  state_region     ages    year  ...  _merge    state     area
0           AL  under18  2012.0  ...    both  Alabama  52423.0
1           AL    total  2012.0  ...    both  Alabama  52423.0
2           AL  under18  2010.0  ...    both  Alabama  52423.0
3           AL    total  2010.0  ...    both  Alabama  52423.0
4           AL  under18  2011.0  ...    both  Alabama  52423.0

[5 rows x 9 columns]

In [ ]:
# Mostra as LINHAS duplicadas usando as COLUNAS 'A' e 'B'
df[df.duplicated(subset=['A','B'])]